<svg
  width="315"
  height="175"
  viewBox="0 0 315 175"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>{{ name }}'s most used languages</title>
  <style>
    .header {
      font: 600 16px "Segoe UI", Ubuntu, Sans-Serif;
    }
    .stat-text {
      font: 500 12px "Segoe UI", Ubuntu, Sans-Serif;
    }
  </style>
  <rect width="315" height="175" rx="6" fill="#24273A" />
  <text x="20" y="36" fill="#C6A0F6" class="header">Most Used Languages</text>
  <g>
    <mask id="stats_mask">
      <rect x="20" y="61" width="275" height="10" fill="white" rx="5"></rect>
    </mask>
    {{ stats_bar|safe }}
  </g>
  <g>{{ bar_legend|safe }}</g>
</svg>
