<svg
  width="222"
  height="109"
  viewBox="0 0 222 109"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <title>Something went wrong!</title>
  <style>
    .header {
      font: 600 16px "Segoe UI", Ubuntu, Sans-Serif;
    }
    .desc {
      font: 500 12px "Segoe UI", Ubuntu, Sans-Serif;
    }
  </style>
  <rect width="222" height="109" rx="6" fill="#24273A" />
  <text x="20" y="36" fill="#ED8796" class="header">Something went wrong!</text>
  <text x="20" y="64" fill="#CAD3F5" class="desc">{{ first_line }}</text>
  <text x="20" y="84" fill="#CAD3F5" class="desc">{{ second_line }}</text>
</svg>
